.formData[data-error]::after,
.formData[data-message]::before {
  font-size: 0.85em;
  display: block;
  margin: 0.25em;
  line-height: 1em;
  opacity: 0;
}
/*  Montrer erreur de validation >>> */
.formData[data-error]::after {
  content: attr(data-error);
  text-align: right;
  color: #e54858;
}
.formData[data-error-visible='true']::after {
  opacity: 1;
}
.formData[data-error-visible='true'] .text-control {
  border: 2px solid #e54858;
}
.formData[data-error-visible='false']::after {
  opacity: 0;
}
.formData[data-error-visible='false'] .text-control {
  border: none;
}
/* <<<  Montrer erreur de validation */
/*  Montrer message informatif >>> */
.formData[data-message]::before {
  content: attr(data-message);
  text-align: left;
  color: #42b983;
}
.formData[data-message-visible='true']::before {
  opacity: 1;
}
.formData[data-message-visible='false']::before {
  opacity: 0;
}
/* <<< Montrer message informatif */
